{% extends "base.html" %}
{% block title %}SAP - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		{% if estado_valido and posee_atributos == False %}
			<div class="panel panel-success">
	      		<div class="panel-heading">
	        		<h3 class="panel-title">¡Éxito!</h3>
	      		</div>
	      		<div class="panel-body">
	        		El tipo de atributo <i>{{ tipo_atributo.nombre }}</i> fue desasignado del tipo de item <i>{{ tipo_item.nombre }}</i>.
	      		</div>
	      	</div>
	    {% else %}
	    	<div class="panel panel-warning">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Alto ahí!</h3>
      			</div>
      			<div class="panel-body">
        			El tipo de atributo <i>{{ tipo_atributo.nombre }}</i> no puede ser quitado del conjunto de tipos de atributo porque:
        			<br><br>
        			<ul>
        				{% if estado_valido == False %}
        					<li>La fase <i>{{ fase.nombre }}</i> se encuentra en estado <b>En curso</b> o <b>Finalizado</b>.</li>
        				{% endif %}
        				{% if posee_atributos %}
        					<li>El tipo de atributo <i>{{ tipo_atributo.nombre }}</i> ya se encuentra ligado a uno o varios items.</li>
        				{% endif %}
        			</ul>
      			</div>
      		</div>
	    {% endif %}
		<br>
		<a class="btn btn-default" href="/desarrollo/fases/tipos_item/tipos_atributo/tipo_item/{{ tipo_item.id }}/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de tipos de atributo del tipo de item {{ tipo_item.nombre }}</a>
	</div>
</div>
{% endblock %}