{% extends "base.html" %}
{% block title %}SAP - Agregar permisos{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Permisos</small></h1>
		{% if permisos %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre del permiso</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for p in permisos %}
                			<tr>
                    			<td>{{ p.id }}</td>
                    			<td>{{ p.nombre }}</td>
                    			<td><a class="btn btn-sm btn-default" href="/administracion/gestion_roles/confirmacion_agregar_permiso/rol/{{ rol.id }}/{{ p.id }}/"><span class="glyphicon glyphicon-plus"></span> Agregar</a></td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No existen permisos.</h3>
    	{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="{% url 'vista_permisos_rol' id_rol=rol.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de permisos del rol {{ rol.nombre }}</a>
</div>
{% endblock %}