{% extends "base.html" %}
{% block title %}SAP - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		{% if valido %}
			<div class="alert alert-success">
        		<strong>¡Éxito!</strong> El permiso {{ permiso.nombre }} fue asignado al rol {{ rol.nombre }}.
      		</div>
		{% else %}
			<div class="alert alert-warning">
        		<strong>¡Alto ahí!</strong> El permiso {{ permiso.nombre }} no puede ser asignado porque ya está asignado al rol {{ rol.nombre }}.
      		</div>
		{% endif %}
	</div>
	<br>
	<a class="btn btn-sm btn-default" href="{% url 'vista_permisos_rol' id_rol=rol.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de permisos del rol {{ rol.nombre }}</a>
</div>
{% endblock %}