{% extends "base.html" %}
{% block title %}SAP - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<div class="alert alert-success">
        	<strong>¡Éxito!</strong> El permiso {{ permiso.nombre }} fue desasignado del rol {{ rol.username }}.
      	</div>
		<br>
		<a class="btn btn-sm btn-default" href="{% url 'vista_permisos_rol' id_rol=rol.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de permisos del rol {{ rol.nombre }}</a>
	</div>
</div>
{% endblock %}