{% extends 'base.html' %}
{% block title %}SAP - Acceso denegado{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">¡Alto ahí!</h3>
		</div>
		<div class="panel-body">
			No tienes suficientes permisos para acceder a esta funcionalidad. Consulta con el administrador para obtener permisos.
		</div>
	</div>
	<br>
	<a class="btn btn-default" href="javascript:window.history.go(-1);"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la página anterior</a>
</div>
{% endblock %}