{% extends 'base.html' %}
{% block title %}SAP - Acceso denegado{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">¡Alto ahí!</h3>
		</div>
		<div class="panel-body">
			{% if permiso %}
				No tienes el permiso <i>{{ permiso }}</i> para acceder a esta funcionalidad. Consulta con el <b>Administrador</b> para obtener permisos.
			{% elif es_miembro == False %}
				No puedes realizar acciones sobre este proyecto, ya que, no eres miembro del mismo. Consulta con el <b>Líder del proyecto</b> para obtener el permiso.
			{% elif es_miembro_comite == False %}
				No puedes gestionar las solicitudes de cambio, puesto que, no eres miembro del comité de cambios de este proyecto.
			{% elif posee_rol_fase == False %}
				No puedes acceder o realizar cambios, puesto que, no posees un rol válido para esta fase.
			{% elif existe_solicitud %}
				{% if solicitud_aprobada == False %}
					La solicitud de cambio sobre el item <i>{{ item.nombre }}</i> fue <b>desaprobada</b>. Puedes intentar redactar otra solicitud si deseas.
					<br><br>
					<a class="btn btn-default" href="/desarrollo/crear_solicitud/item/{{ item.id }}/linea_base/{{ linea_base.id }}/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-envelope"></span> Crear solicitud</a>
				{% else %}
					La solicitud de cambio sobre el item <i>{{ item.nombre }}</i> está en <b>trámite</b>. Aguarde la decisión del comité.
				{% endif %}
			{% elif existe_solicitud == False %}
				{% if estado_bloqueado == False %}
					No se puede alterar el item <i>{{ item.nombre }}</i> puesto que no existe una solicitud de cambio adecuada para alterarlo.<br>
					Puede crear una solicitud de cambio sobre este item para que posteriormente sea evaluada por el comité de cambios.
				{% else %}
					No se pueden realizar cambios sobre el item <i>{{ item.nombre }}</i> puesto que está en estado <b>Bloqueado</b>.<br>
					Puede crear una solicitud de cambio sobre este item para que posteriormente sea evaluada por el comité de cambios.
				{% endif %}
				<br><br>
				<a class="btn btn-default" href="/desarrollo/crear_solicitud/item/{{ item.id }}/linea_base/{{ linea_base.id }}/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-envelope"></span> Crear solicitud</a>
			{% endif %}
		</div>
	</div>
	<br>
	<a class="btn btn-default" href="javascript:window.history.go(-1);"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la página anterior</a>
</div>
{% endblock %}