{% extends 'base.html' %}
{% block title %}SAP - Acceso denegado{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">¡Alto ahí!</h3>
		</div>
		<div class="panel-body">
			{% if permiso %}
			No tienes el permiso "{{ permiso }}" para acceder a esta funcionalidad. Consulta con el administrador para obtener permisos.
			{% elif no_es_miembro %}
			No puedes realizar acciones sobre este proyecto, ya que, no eres miembro del mismo. Consulta con el líder del proyecto para obtener el permiso.
			{% elif fase_no_es_miembro %}
			No puedes realizar acciones sobre esta fase, ya que, no eres miembro del proyecto al cual esta ligada esta fase. Consulta con el líder del proyecto para obtener el permiso.
			{% endif %}
		</div>
	</div>
	<br>
	<a class="btn btn-default" href="javascript:window.history.go(-1);"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la página anterior</a>
</div>
{% endblock %}