{% extends "base.html" %}
{% block title %}Iniciar sesion{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		{% if not valido %}
			<div class="alert alert-danger">
        		<strong>Atención:</strong> Nombre de usuario y/o contraseña incorrecto. Intentalo de nuevo.
      		</div>
		{% endif %}
		{% if messages %}
			<div class="alert alert-info">
        		<strong>La contraseña fue cambiada:</strong> Ahora intenta iniciar sesión con tu nueva contraseña.
      		</div>
		{% endif %}
		<h1><small>Por favor, inicie sesión</small></h1>
		<br>
		<form class="form-horizontal" method="POST">
			{% csrf_token %}
			
			<div class="input-group">
				<span class="input-group-addon"><b>Nombre de usuario</b></span>
				<input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario">
        	</div>
        	<br>
        	<div class="input-group">
				<span class="input-group-addon"><b>Contraseña</b></span>
				<input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
        	</div>
        	
        	<br>
            <button type="submit" class="btn btn-success">Acceder</button>
    	</form>
	</div>
</div>
{% endblock %}