{% extends "base.html" %}
{% block title %}SAP - Roles de la fase {{ fase.nombre }}{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Roles de la fase {{ fase.nombre }}</small></h1>
		<a class="btn btn-default" href="{% url 'vista_fase_agregar_rol' id_fase=fase.id %}"><span class="glyphicon glyphicon-plus"></span> Agregar</a>
		<br><br>
		{% if fases %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre de rol</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for r in roles %}
                			<tr>
                    			<td>{{ r.id }}</td>
                    			<td>{{ r.nombre }}</td>
                    			<td><a class="btn btn-sm btn-default" href="/administracion/gestion_proyectos/quitar_rol/proyecto/{{ proyecto.id }}/{{ r.id }}/"><span class="glyphicon glyphicon-minus"></span> Quitar</a></td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No posee roles.</h3>
    	{% endif %}
	</div>
	<br>
		<a class="btn btn-default" href="{% url 'vista_gestion_fases' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de fases</a>
</div>
{% endblock %}