{% extends "base.html" %}
{% block title %}SAP - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		{% if valido %}
			<div class="panel panel-success">
	      		<div class="panel-heading">
	        		<h3 class="panel-title">¡Éxito!</h3>
	      		</div>
	      		<div class="panel-body">
	        		El tipo de atributo {{ tipo_atributo.nombre }} fue desasignado del tipo de item {{ tipo_item.nombre }}.
	      		</div>
	      	</div>
	    {% else %}
	    	<div class="panel panel-warning">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Alto ahí!</h3>
      			</div>
      			<div class="panel-body">
        			El tipo de atributo {{ tipo_atributo.nombre }} no puede ser quitado porque ya está ligado a un item.
      			</div>
      		</div>
	    {% endif %}
		<br>
		<a class="btn btn-default" href="{% url 'vista_tipos_atributo_tipo_item' id_tipo_item=tipo_item.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de tipos de atributo del tipo de item {{ tipo_item.nombre }}</a>
	</div>
</div>
{% endblock %}