{% extends "base.html" %}
{% block title %}SAP - Tipos de atributo del tipo de item {{ tipo_item.nombre }}{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Tipos de atributo del tipo de item {{ tipo_item.nombre }}</small></h1>
		<a class="btn btn-sm btn-default" href="{% url 'vista_agregar_tipo_atributo' id_tipo_item=tipo_item.id %}"><span class="glyphicon glyphicon-plus"></span> Agregar</a>
		<br><br>
		{% if tipos_atributo %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre del tipo de atributo</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for t in tipos_atributo %}
                			<tr>
                    			<td>{{ t.id }}</td>
                    			<td>{{ t.nombre }}</td>
                    			<td><a class="btn btn-sm btn-default" href="/administracion/gestion_tipos_item/quitar_tipo_atributo/tipo_item/{{ tipo_item.id }}/{{ t.id }}/"><span class="glyphicon glyphicon-minus"></span> Quitar</a></td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No posee permisos.</h3>
    	{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="{% url 'vista_gestion_tipos_item' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de tipos de item</a>
</div>
{% endblock %}