{% extends "base.html" %}
{% block title %}SAP - Agregar items{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		{% if fase %}
		<h1><small>Items de la fase {{ fase.nombre }}</small></h1>
			{% if items %}
				<div class="table-responsive"> 
        			<table class="table table-hover">
        				<thead>
                			<tr>
                    			<th>ID</th>
                    			<th>Nombre de item</th>
                    			<th></th>
                    		</tr>
                    	</thead>
                		<tbody>
                			{% for i in items %}
                				<tr>
                    				<td>{{ i.id }}</td>
                    				<td>{{ i.nombre }}</td>
                    				
                    				<td><a class="btn btn-default" href="/desarrollo/fases/confirmacion_agregar_rol/{{ r.id }}/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-plus"></span> Agregar</a></td>
                				</tr>
                			{% endfor %}
                		</tbody>
        			</table>
    			</div>
    		{% else %}
    			<h3>La Fase {{ fase.nombre }} no posee items.</h3>
    		{% endif %}
    	{% else %}
    		<h1><small>Items</small></h1>
    		<h3>La linea base {{ linea_base.nombre }} no está vinculada a ningúna fase. Por lo tanto, no se pueden agregar permisos.</h3>
    	{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="/desarrollo/lineas_base/items/linea_base/{{ linea_base.id }}/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de items de la linea base {{ linea_base.nombre }}</a>
</div>
{% endblock %}