{% extends "base.html" %}
{% block title %}SAP - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		{% if existe_item == False and item_lb == False %}
			<div class="panel panel-success">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Éxito!</h3>
      			</div>
      			<div class="panel-body">
        			El item <i>{{ item.nombre }}</i> fue asignado a la línea base <i>{{ linea_base.nombre }}</i>.
      			</div>
      		</div>
		{% else %}
			<div class="panel panel-warning">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Alto ahí!</h3>
      			</div>
      			<div class="panel-body">
        			El item <i>{{ item.nombre }}</i> no puede ser asignado a la línea base <i>{{ linea_base.nombre }}</i> porque:
        			<br><br>
        			<ul>
        				{% if existe_item %}
        					<li>El item ya está asignado a la línea base.</li>
        				{% endif %}
        				{% if item_lb %}
        					<li>El item ya pertenece a otra línea base.</li>
        				{% endif %}
        			</ul>
      			</div>
      		</div>
		{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="/desarrollo/lineas_base/items/linea_base/{{ linea_base.id }}/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de items de la línea base {{ linea_base.nombre }}</a>
</div>
{% endblock %}