{% extends "base.html" %}
{% block title %}SAP - Confirmación de quebrado de la línea base {{ linea_base.nombre }}{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		{% if estado_valido %}
			<div class="panel panel-success">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Éxito!</h3>
      			</div>
      			<div class="panel-body">
        			La línea base <i>{{ linea_base.nombre }}</i> cumple con todos los requisitos. Ya está en revisión.
      			</div>
      		</div>
		{% else %}
			<div class="panel panel-warning">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Alto ahí!</h3>
      			</div>
      			<div class="panel-body">
        			La línea base <i>{{ linea_base.nombre }}</i> no pudo ser cerrada, debido a que, ya se encuentra en estado <b>Cerrado</b>.       			
      			</div>
      		</div>
		{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="/desarrollo/fases/lineas_base/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de líneas base de la fase {{ fase.nombre }}</a>
</div>
{% endblock %}