{% extends "base.html" %}
{% block title %}SAP - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<div class="panel panel-success">
      		<div class="panel-heading">
        		<h3 class="panel-title">¡Éxito!</h3>
      		</div>
      		<div class="panel-body">
        		El item <i>{{ item.nombre }}</i> fue desasignado de la línea base <i>{{ linea_base.nombre }}</i>.
      		</div>
      	</div>
		<br>
		<a class="btn btn-default" href="/desarrollo/lineas_base/items/linea_base/{{ linea_base.id }}/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de items de la línea base {{ linea_base.nombre }}</a>
	</div>
</div>
{% endblock %}