{% extends "base.html" %}
{% block title %}SAP - Crear tipo de atributo{% endblock %}
{% block content %}
<div class="jumbotron">
	<h1><small>Crear tipo atributo</small></h1>
	<form class="form-horizontal" method="POST">
		{% csrf_token %}
		
		<!-- Manejo de errores del formulario -->
    	{% if form.errors %}
    	<div class="panel panel-warning">
    		<div class="panel-heading">
    			<h3 class="panel-title">¡Alto ahí!</h3>
            </div>
            <div class="panel-body">
            	<h3 class="panel-title">No has completado correctamente el formulario. Los campos afectados son:</h3>
            	<br>
            	<ul class="list-unstyled">
            		{% for field in form %}
            			{% if field.errors %} 
  							<li><b>{{ field.label }}</b></li>
  								{% for error in field.errors %}
    								<ul>
    									{% if error == "This field is required." %}
      										<li>No has ingresado este campo.</li>
      									{% else %}
      										<li>{{ error }}</li>
      									{% endif %}
    								</ul>
    							{% endfor %}
  							</li>
  						{% endif %}
  					{% endfor %}
				</ul>
            </div>
        </div>
        {% endif %}
        <!-- Fin del manejo de errores del formulario -->
		
		<!-- Script para el selector de tipo de dato -->
		<script>
			function miFuncion(obj) {
				var value = obj.value;
				switch (value) {
					case "0":
						document.getElementById("longitud").setAttribute("required","required");
				    	document.getElementById("longitud").removeAttribute("disabled");
				    	document.getElementById("precision").setAttribute("required","required");
				    	document.getElementById("precision").removeAttribute("disabled");
				    	break;
					case "1":
						document.getElementById("longitud").setAttribute("disabled","disabled");
						document.getElementById("longitud").removeAttribute("required");
						document.getElementById("precision").setAttribute("disabled","disabled");
						document.getElementById("precision").removeAttribute("required");
						break;
					case "2":
						document.getElementById("longitud").setAttribute("required","required");
						document.getElementById("longitud").removeAttribute("disabled");
						document.getElementById("precision").setAttribute("disabled","disabled");
						document.getElementById("precision").removeAttribute("required");
						break;
					case "3":
						document.getElementById("longitud").setAttribute("required","required");
						document.getElementById("longitud").removeAttribute("disabled");
						document.getElementById("precision").setAttribute("disabled","disabled");
						document.getElementById("precision").removeAttribute("required");
						break;
					case "4":
						document.getElementById("longitud").setAttribute("disabled","disabled");
						document.getElementById("longitud").removeAttribute("required");
						document.getElementById("precision").setAttribute("disabled","disabled");
						document.getElementById("precision").removeAttribute("required");
						break;
				}
			}
		</script>
		<!-- Fin del script para el selector de tipo de dato -->
		
		<p class="text-muted">Campos obligatorios (*)</p>
		<div class="input-group">
			<span class="input-group-addon"><b>* Nombre</b></span>
			<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del tipo de atributo">
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>* Tipo de dato</b></span>
			<select class="form-control" id="tipo_dato" name="tipo_dato" onchange="miFuncion(this)">
				<option value="0" selected="selected">Numérico</option>
				<option value="1">Fecha</option>
				<option value="2">Texto grande</option>
				<option value="3">Texto chico</option>
				<option value="4">Lógico</option>
			</select>
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>Descripción</b></span>
			<textarea rows="3" class="form-control" id="descripcion" name="descripcion" placeholder="Descripción del tipo de atributo"></textarea>
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>* Longitud</b></span>
			<input type="number" class="form-control" id="longitud" name="longitud" placeholder="Longitud del tipo de dato" required="required">
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>* Precisión</b></span>
			<input type="number" class="form-control" id="precision" name="precision" placeholder="Precisión del tipo de dato" required="required">
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>* Obligatorio</b></span>
			<select class="form-control" id="obligatorio" name="obligatorio">
	        	<option value="0" selected="selected">No</option>
	        	<option value="1">Sí</option>      	
         	</select>
        </div>
		<br>

		{{ longitud }}
		{{ precision }}
        <br>
        <button type="submit" class="btn btn-success">Crear</button>
	</form>
	<br>
	<a class="btn btn-default" href="{% url 'vista_gestion_tipos_atributo' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de tipos de atributo</a>
</div>
{% endblock %}