{% extends "base.html" %}
{% block title %}SAP - Gestión de tipos_atributo{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1>Gestión de tipos atributo</h1>
		<a class="btn btn-sm btn-default" href="{% url 'vista_crear_rol' %}"><span class="glyphicon glyphicon-record"></span> Crear</a>
		<br><br>
		{% if roles %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre de tipo_atributo</th>   
                    		<th></th>
                    		<th></th>
                    		<th></th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for t in tipos_atributo %}
                			<tr>
                    			<td>{{ t.id }}</td>
                    			<td>{{ t.nombre }}</td>
                    			<td><a class="btn btn-sm btn-default" href="/administracion/gestion_roles/modificar_rol/{{ r.id }}/"><span class="glyphicon glyphicon-edit"></span> Modificar</a></td>
                    			<td><a class="btn btn-sm btn-default" href="/administracion/gestion_roles/eliminar_rol/{{ r.id }}/"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></td>
                    			<td><a class="btn btn-sm btn-default" href="/administracion/gestion_roles/permisos/rol/{{ r.id }}/"><span class="glyphicon glyphicon-cog"></span> Permisos</a></td>
                    			<td><a class="btn btn-sm btn-default" href="/administracion/gestion_roles/rol/{{ r.id }}/"><span class="glyphicon glyphicon-search"></span> Visualizar</a></td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No existen tipos_atributo</h3>
    	{% endif %}
	</div>
</div>
{% endblock %}