{% extends "base.html" %}
{% block title %}SAP - Modificar tipo de atributo {{ tipo_atributo.nombre }}{% endblock %}
{% block content %}
<div class="jumbotron">
	<h1><small>Modificar tipo atributo</small></h1>
	{% if valido %}
		<form class="form-horizontal" method="POST">
			{% csrf_token %}
			
			<!-- Manejo de errores del formulario -->
	    	{% if form.errors or valido == False %}
	    	<div class="panel panel-warning">
	    		<div class="panel-heading">
	    			<h3 class="panel-title">¡Alto ahí!</h3>
	            </div>
	            <div class="panel-body">
	            	<h3 class="panel-title">No has completado correctamente el formulario. Los campos afectados son:</h3>
	            	<br>
	            	<ul class="list-unstyled">
	            		{% for field in form %}
	            			{% if field.errors %} 
	  							<li><b>{{ field.label }}</b></li>
	  								{% for error in field.errors %}
	    								<ul>
	    									{% if error == "This field is required." %}
	      										<li>No has ingresado este campo.</li>
	      									{% else %}
	      										<li>{{ error }}</li>
	      									{% endif %}
	    								</ul>
	    							{% endfor %}
	  							</li>
	  						{% endif %}
	  					{% endfor %}
	  					{% if valido == False %}
	  						<li><b>Longitud numérica</b></li>
	  						<ul>
	  							<li>La longitud numérica debe ser mayor que la precisión numérica.</li>
	  						</ul>
						{% endif %}
					</ul>
	            </div>
	        </div>
	        {% endif %}
	        <!-- Fin del manejo de errores del formulario -->
	        
	        <!-- Script para el selector de tipo de dato -->
			<script>
				function miFuncion(obj) {
					var value = obj.value;
					switch (value) {
						case "0":
							document.getElementById("num_longitud").setAttribute("required","required");
					    	document.getElementById("num_longitud").removeAttribute("disabled");
					    	document.getElementById("num_precision").setAttribute("required","required");
					    	document.getElementById("num_precision").removeAttribute("disabled");
					    	document.getElementById("textg_longitud").setAttribute("disabled","disabled");
					    	document.getElementById("textg_longitud").removeAttribute("required");
					    	document.getElementById("textch_longitud").setAttribute("disabled","disabled");
					    	document.getElementById("textch_longitud").removeAttribute("required");
					    	break;
						case "1":
							document.getElementById("num_longitud").setAttribute("disabled","disabled");
							document.getElementById("num_longitud").removeAttribute("required");
							document.getElementById("num_precision").setAttribute("disabled","disabled");
							document.getElementById("num_precision").removeAttribute("required");
							document.getElementById("textg_longitud").setAttribute("disabled","disabled");
					    	document.getElementById("textg_longitud").removeAttribute("required");
					    	document.getElementById("textch_longitud").setAttribute("disabled","disabled");
					    	document.getElementById("textch_longitud").removeAttribute("required");
							break;
						case "2":
							document.getElementById("num_longitud").setAttribute("disabled","disabled");
							document.getElementById("num_longitud").removeAttribute("required");
							document.getElementById("num_precision").setAttribute("disabled","disabled");
							document.getElementById("num_precision").removeAttribute("required");
							document.getElementById("textg_longitud").removeAttribute("disabled");
							document.getElementById("textg_longitud").setAttribute("required","required");
							document.getElementById("textch_longitud").setAttribute("disabled","disabled");
					    	document.getElementById("textch_longitud").removeAttribute("required");
							break;
						case "3":
							document.getElementById("num_longitud").setAttribute("disabled","disabled");
							document.getElementById("num_longitud").removeAttribute("required");
							document.getElementById("num_precision").setAttribute("disabled","disabled");
							document.getElementById("num_precision").removeAttribute("required");
							document.getElementById("textch_longitud").removeAttribute("disabled");
							document.getElementById("textch_longitud").setAttribute("required","required");
							document.getElementById("textg_longitud").setAttribute("disabled","disabled");
					    	document.getElementById("textg_longitud").removeAttribute("required");
							break;
						case "4":
							document.getElementById("num_longitud").setAttribute("disabled","disabled");
							document.getElementById("num_longitud").removeAttribute("required");
							document.getElementById("num_precision").setAttribute("disabled","disabled");
							document.getElementById("num_precision").removeAttribute("required");
							document.getElementById("textg_longitud").setAttribute("disabled","disabled");
					    	document.getElementById("textg_longitud").removeAttribute("required");
					    	document.getElementById("textch_longitud").setAttribute("disabled","disabled");
					    	document.getElementById("textch_longitud").removeAttribute("required");
							break;
						case "5":
							document.getElementById("num_longitud").setAttribute("disabled","disabled");
							document.getElementById("num_longitud").removeAttribute("required");
							document.getElementById("num_precision").setAttribute("disabled","disabled");
							document.getElementById("num_precision").removeAttribute("required");
							document.getElementById("textg_longitud").setAttribute("disabled","disabled");
					    	document.getElementById("textg_longitud").removeAttribute("required");
					    	document.getElementById("textch_longitud").setAttribute("disabled","disabled");
					    	document.getElementById("textch_longitud").removeAttribute("required");
					    	break;
					}
				}
			</script>
	        <!-- Fin del script para el selector de tipo de dato -->
	        
	        <p class="text-muted">Campos obligatorios (*)</p>
			<div class="input-group">
				<span class="input-group-addon"><b>* Nombre</b></span>
				<input type="text" class="form-control" id="nombre" name="nombre" value="{{ tipo_atributo.nombre }}">
	        </div>
	        <br>
	        <div class="input-group">
				<span class="input-group-addon"><b>* Tipo de dato</b></span>
				<select class="form-control" id="tipo_dato" name="tipo_dato" onchange="miFuncion(this)">
					{% if tipo_atributo.tipo_dato == 0 %}
						<option value="0" selected="selected">Numérico</option>
					{% else %}
						<option value="0">Numérico</option>
					{% endif %}
					{% if tipo_atributo.tipo_dato == 1 %}
						<option value="1" selected="selected">Fecha</option>
					{% else %}
						<option value="1">Fecha</option>
					{% endif %}
					{% if tipo_atributo.tipo_dato == 2 %}
						<option value="2" selected="selected">Texto grande</option>
					{% else %}
						<option value="2">Texto grande</option>
					{% endif %}
					{% if tipo_atributo.tipo_dato == 3 %}
						<option value="3" selected="selected">Texto chico</option>
					{% else %}
						<option value="3">Texto chico</option>
					{% endif %}
					{% if tipo_atributo.tipo_dato == 4 %}
						<option value="4" selected="selected">Lógico</option>
					{% else %}
						<option value="4">Lógico</option>
					{% endif %}
					{% if tipo_atributo.tipo_dato == 5 %}
						<option value="5" selected="selected">Archivo</option>
					{% else %}
						<option value="5">Lógico</option>
					{% endif %}
				</select>
        	</div>
        	<br>
	        <div class="input-group">
				<span class="input-group-addon"><b>Descripción</b></span>
				<textarea rows="3" class="form-control" id="descripcion" name="descripcion">{{ tipo_atributo.descripcion }}</textarea>
	        </div>
	        <br>
	        <div class="input-group">
				<span class="input-group-addon"><b>* Longitud numérica</b></span>
				<input type="number" min="1" max="30" class="form-control" id="num_longitud" name="num_longitud" value="{{ tipo_atributo.num_longitud }}" disabled="disabled">
	        </div>
	        <br>
	        <div class="input-group">
				<span class="input-group-addon"><b>* Precisión numérica</b></span>
				<input type="number" min="0" max="10" class="form-control" id="num_precision" name="num_precision" value="{{ tipo_atributo.num_precision }}" disabled="disabled">
	        </div>
	        <br>
	        <div class="input-group">
				<span class="input-group-addon"><b>* Longitud del texto chico</b></span>
				<input type="number" min="1" max="30" class="form-control" id="textch_longitud" name="textch_longitud" value="{{ tipo_atributo.textch_longitud }}" disabled="disabled">
	        </div>
	        <br>
	        <div class="input-group">
				<span class="input-group-addon"><b>* Longitud del texto grande</b></span>
				<input type="number" min="1" max="250" class="form-control" id="textg_longitud" name="textg_longitud" value="{{ tipo_atributo.textg_longitud }}" disabled="disabled">
	        </div>
	        <br>
	        <div class="input-group">
				<span class="input-group-addon"><b>* Obligatorio</b></span>
				<select class="form-control" id="obligatorio" name="obligatorio">
		        	{% if tipo_atributo.obligatorio == False %}
		        		<option value="0" selected="selected">No</option>
		        	{% else %}
		        		<option value="0">No</option>
		        	{% endif %}
		        	{% if tipo_atributo.obligatorio == True %}
		        		<option value="1" selected="selected">Sí</option>
		        	{% else %}
		        		<option value="1">Sí</option>
		        	{% endif %}	     	
	         	</select>
	        </div>
	        <br>
	        
	        <button type="submit" class="btn btn-success">Modificar</button>
		</form>
	{% else %}
		<div class="panel panel-warning">
      		<div class="panel-heading">
        		<h3 class="panel-title">¡Alto ahí!</h3>
      		</div>
      		<div class="panel-body">
        		El tipo de atributo {{ tipo_atributo.nombre }} no puede ser modificado porque ya está ligado a un tipo de item e item.
      		</div>
      	</div>
	{% endif %}
	<br>
	<a class="btn btn-default" href="{% url 'vista_gestion_tipos_atributo' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de tipos de atributo</a>
</div>
{% endblock %}