{% extends "base.html" %}
{% block title %}SAP - Fases del proyecto {{ proyecto.nombre }}{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Fases del proyecto {{ proyecto.nombre }}</small></h1>
		<br>
		{% if fases %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre de fase</th>
                    		<th>Estado</th>
                    		<th>Fecha de inicio</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for f in fases %}
                			<tr>
                    			<td>{{ f.id }}</td>
                    			<td>{{ f.nombre }}</td>
                    			<td>
                    			{% ifequal f.estado 0 %}
									Inactivo
								{% endifequal %}
								{% ifequal f.estado 1 %}
									En curso
								{% endifequal %}
								{% ifequal f.estado 2 %}
									Finalizado
								{% endifequal %}
                    			</td>
                    			<td>{{ f.fecha_inicio }}</td>
                    			<td>
                    			<div class="btn-group">
      								<a class="btn btn-default" data-toggle="dropdown" href="#"><font color="BLACK">Opciones</font> <span class="glyphicon glyphicon-align-justify black"></span></a>
      								<ul class="dropdown-menu">
        								<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Items</a></li>
        								<li><a href="#"><span class="glyphicon glyphicon-stop"></span> Finalizar</a></li>
      								</ul>
    							</div>
                    			</td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No posee fases.</h3>
    	{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="{% url 'vista_desarrollo' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver al módulo de desarrollo</a>
</div>
{% endblock %}