{% extends "base.html" %}
{% block title %}SAP - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		{% if valido %}
		<h3>El rol {{ rol.nombre }} fue asignado al usuario {{ usuario.username }}.</h3>
		{% else %}
		<h3>El rol {{ rol.nombre }} ya está asignado al usuario {{ usuario.username }}.</h3>
		{% endif %}
		<br>
		<a class="btn btn-sm btn-default" href="{% url 'vista_gestion_usuarios' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de usuarios</a>
	</div>
</div>
{% endblock %}