{% extends "base.html" %}
{% block title %}SAP - Crear usuario{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h1>Crear usuario</h1>
		<form class="form-horizontal" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<p>{{ form.username.label }}</p>
            <button type="submit" class="btn btn-primary">Crear</button>
		</form>
		<br>
		<a class="btn btn-sm btn-default" href="{% url 'vista_gestion_usuarios' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de usuarios</a>
	</div>
</div>
{% endblock %}