{% extends "base.html" %}
{% block title %}SAP - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h1>Detalles del usuario</h1>
		<p><label><b>Nombre de usuario:</b></label> {{ usuario.username }}</p>
		<p><label><b>Email:</b></label> {{ usuario.email }}</p>
		<p><label><b>Nombre:</b></label> {{ usuario.first_name }}</p>
		<p><label><b>Apellido:</b></label> {{ usuario.last_name }}</p>
		<p><label><b>Dirección:</b></label> {{ usuario.direccion }}</p>
		<p><label><b>Teléfono:</b></label> {{ usuario.telefono }}</p>
		<h3>¿Realmente desea eliminar al usuario {{ usuario.username }}?</h3>
		<form action="" method="post">
			{% csrf_token %}
			<p class="text-warning"><small>Si acepta, los registros del usuario se perderán.</small></p>
			<br>
			<a type="button" class="btn btn-default" href="/administracion/gestion_usuarios/">Cancelar</a>
        	<button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
	</div>
</div>
{% endblock %}