{% extends "base.html" %}
{% block title %}SAP - Gestión de usuarios{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Gestión de usuarios</small></h1>
		{% if crear_usuario %}
		<a class="btn btn-default" href="{% url 'vista_crear_usuario' %}"><span class="glyphicon glyphicon-record"></span> Crear</a>
		<br>
		{% endif %}
		<br>
		{% if usuarios %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre de usuario</th>
                    		<th>Email</th>
                    		<th>Estado</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for u in usuarios %}
                			<tr>
                    			<td>{{ u.id }}</td>
                    			<td>{{ u.username }}</td>
                    			<td>{{ u.email }}</td>
                    			<td>
                    			{% ifequal u.estado 0 %}
									Inactivo
								{% endifequal %}
								{% ifequal u.estado 1 %}
									Activo
								{% endifequal %}
                    			<td>
                    			{% if modificar_usuario or eliminar_usuario or visualizar_usuario or gestionar_roles %}
                    			<div class="btn-group">
      								<a class="btn btn-default" data-toggle="dropdown" href="#"><font color="BLACK">Opciones</font> <span class="glyphicon glyphicon-align-justify black"></span></a>
      								<ul class="dropdown-menu">
      									{% if modificar_usuario %}
        								<li><a href="{% url 'vista_modificar_usuario' id_usuario=u.id %}"><span class="glyphicon glyphicon-edit"></span> Modificar</a></li>
        								{% endif %}
        								{% if eliminar_usuario %}
        								<li><a href="{% url 'vista_eliminar_usuario' id_usuario=u.id %}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></li>
        								{% endif %}
        								{% if visualizar_usuario %}
        								<li><a href="{% url 'vista_visualizar_usuario' id_usuario=u.id %}"><span class="glyphicon glyphicon-search"></span> Visualizar</a></li>
        								{% endif %}
        								{% if gestionar_roles %}
        								<li class="divider"></li>
        								<li><a href="{% url 'vista_roles_usuario' id_usuario=u.id %}"><span class="glyphicon glyphicon-cog"></span> Roles</a></li>
      									{% endif %}
      								</ul>
    							</div>
    							{% endif %}
                    			</td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No existen usuarios</h3>
    	{% endif %}
	</div>
</div>
{% endblock %}