{% extends "base.html" %}
{% block title %}SAP - Agregar miembros{% endblock %}
{% block content %}

<div class="jumbotron">
	{% if estado_valido %}
		<div class="bs-example">
			<h1><small>Usuarios</small></h1>
			{% if usuarios %}
				<div class="table-responsive"> 
	        		<table class="table table-hover">
	        			<thead>
	                		<tr>
	                    		<th>ID</th>
	                    		<th>Nombre de usuario</th>
	                    		<th></th>
	                    	</tr>
	                    </thead>
	                	<tbody>
	                		{% for u in usuarios %}
	                			<tr>
	                    			<td>{{ u.id }}</td>
	                    			<td>{{ u.username }}</td>
	                    			<td><a class="btn btn-default" href="/administracion/gestion_proyectos/confirmacion_agregar_miembro/{{ u.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-plus"></span> Agregar</a></td>
	                			</tr>
	                		{% endfor %}
	                	</tbody>
	        		</table>
	    		</div>
	    	{% else %}
	    		<h3>No existen usuarios.</h3>
	    	{% endif %}
		</div>
	{% else %}
		<div class="panel panel-warning">
      		<div class="panel-heading">
        		<h3 class="panel-title">¡Alto ahí!</h3>
      		</div>
      		<div class="panel-body">
        		No puedes agregar más miembros al comité de cambios del proyecto <i>{{ proyecto.nombre }}</i>, puesto que, este proyecto se encuentra en estado <b>Finalizado</b>.
      		</div>
      	</div>
	{% endif %}
	<br>
	<a class="btn btn-default" href="{% url 'vista_comite_proyecto' id_proyecto=proyecto.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de comité del proyecto {{ proyecto.nombre }}</a>
</div>
{% endblock %}