{% extends "base.html" %}
{% block title %}SAP - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		{% if estado_valido and existe_miembro == False %}
			<div class="panel panel-success">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Éxito!</h3>
      			</div>
      			<div class="panel-body">
        			El usuario <i>{{ usuario.username }}</i> fue asignado al comité de cambios del proyecto <i>{{ proyecto.nombre }}</i>.
      			</div>
      		</div>
		{% else %}
			<div class="panel panel-warning">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Alto ahí!</h3>
      			</div>
      			<div class="panel-body">
        			El usuario <i>{{ usuario.username }}</i> no puede ser asignado al comité de cambios porque:
        			<br><br>
        			<ul>
        				{% if estado_valido == False %}
        					<li>El proyecto <i>{{ proyecto.nombre }}</i> se encuentra en estado <b>En curso</b> o <b>Finalizado</b>.</li>
        				{% endif %}
        				{% if existe_miembro %}
        					<li>El usuario <i>{{ usuario.username }}</i> ya está asignado al comité de cambios.</li>
        				{% endif %}
        			</ul>
      			</div>
      		</div>
		{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="{% url 'vista_comite_proyecto' id_proyecto=proyecto.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de comité del proyecto {{ proyecto.nombre }}</a>
</div>
{% endblock %}