{% extends "base.html" %}
{% block title %}SAP - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		{% if estado_valido %}
			<div class="panel panel-success">
	      		<div class="panel-heading">
	        		<h3 class="panel-title">¡Éxito!</h3>
	      		</div>
	      		<div class="panel-body">
	        		El usuario {{ usuario.username }} fue desasignado del proyecto {{ proyecto.nombre }}.
	      		</div>
	      	</div>
	    {% else %}
	    	<div class="panel panel-warning">
	      		<div class="panel-heading">
	        		<h3 class="panel-title">¡Alto ahí!</h3>
	      		</div>
	      		<div class="panel-body">
	        		No puedes quitar usuarios del proyecto <i>{{ proyecto.nombre }}</i>, puesto que, este proyecto se encuentra en estado <b>Finalizado</b>.
	      		</div>
      		</div>
	    {% endif %}
		<br>
		<a class="btn btn-default" href="{% url 'vista_usuarios_proyecto' id_proyecto=proyecto.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de usuarios del proyecto {{ proyecto.nombre }}</a>
	</div>
</div>
{% endblock %}