{% extends "base.html" %}
{% block title %}SAP - Proyecto {{ proyecto.nombre }}{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Detalles del proyecto</small></h1>
		
		<div class="input-group">
			<span class="input-group-addon"><b>Nombre</b></span>
			<input type="text" class="form-control" id="nombre" name="nombre" value="{{ proyecto.nombre }}" disabled="disabled">
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>Estado</b></span>
			{% ifequal proyecto.estado 0 %}
				<input type="text" class="form-control" id="estado" name="estado" value="En Construcción" disabled="disabled">
			{% endifequal %}
			{% ifequal proyecto.estado 1 %}
				<input type="text" class="form-control" id="estado" name="estado" value="En Curso" disabled="disabled">
			{% endifequal %}
			{% ifequal proyecto.estado 2 %}
				<input type="text" class="form-control" id="estado" name="estado" value="Finalizado" disabled="disabled">
			{% endifequal %}
		</div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>Descripción</b></span>
			<textarea rows="3" class="form-control" id="descripcion" name="descripcion" disabled="disabled">{{ proyecto.descripcion }}</textarea>
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>Fecha de Inicio</b></span>
			<input type="text" class="form-control" id="fecha_inicio" name="fecha_inicio" value="{{ proyecto.fecha_inicio }}" disabled="disabled">
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>Presupuesto</b></span>
			<input type="text" class="form-control" id="presupuesto" name="presupuesto" value="{{ proyecto.presupuesto }}" disabled="disabled">
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>Complejidad</b></span>
			<input type="text" class="form-control" id="complejidad" name="complejidad" value="{{ proyecto.complejidad }}" disabled="disabled">
        </div>
        
		<br>
		<a class="btn btn-default" href="{% url 'vista_gestion_proyectos' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de proyectos</a>
	</div>
</div>
{% endblock %}