{% extends "base.html" %}
{% block title %}SAP - Agregar relaciones{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		{% if valido %}
			<h1><small>Relaciones para el item <i>{{ item.nombre }}</i></small></h1>
			<br>
			<form class="form-horizontal" method="POST">
				{% csrf_token %}
				<div class="col-xs-5">
				<div class="input-group">
					<span class="input-group-addon"><b>* Tipo de relación</b></span>
					<select class="form-control" id="eleccion_relacion" name="eleccion_relacion">
						<option value="0">Padre-Hijo</option>
						<option value="1">Antecesor-Sucesor</option>
					</select>
	        	</div>
	        	</div>
	        	<br><br><br>
	        	<button type="submit" class="btn btn-success">Aceptar</button>
	        </form>
			{% if items_hijos %}
				<h1><small>Items de la fase <i>{{ fase.nombre }}</i></small></h1>
				<br>
				<div class="table-responsive"> 
	        		<table class="table table-hover">
	        			<thead>
	                		<tr>
	                    		<th>ID</th>
	                    		<th>Nombre del item</th>
	                    		<th>Estado</th>
	                    		<th></th>
	                    	</tr>
	                    </thead>
	               	 	<tbody>
	                		{% for i in items_hijos %}
	                			<tr>
	                    			<td>{{ i.id }}</td>
	                    			<td>{{ i.nombre }}</td>
	                    			<td>
	                    			{% ifequal i.estado 0 %}
										En construcción
									{% endifequal %}
									{% ifequal i.estado 1 %}
										Aprobado
									{% endifequal %}
									{% ifequal i.estado 2 %}
										Bloqueado
									{% endifequal %}
									{% ifequal i.estado 3 %}
										En revisión
									{% endifequal %}
									{% ifequal i.estado 4 %}
										Eliminado
									{% endifequal %}
	                    			</td>
	                    			<td><a class="btn btn-default" href="/desarrollo/fases/items/confirmacion_agregar_relacion/{{ i.id }}/item/{{ item.id }}/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-plus"></span> Agregar</a></td>
	                			</tr>
	                		{% endfor %}
	                	</tbody>
	        		</table>
	    		</div>
	    	{% elif estado_valido and num_fases_valido and items_sucesores %}
	    		<h1><small>Items de la fase <i>{{ fase_vecina.nombre }}</i></small></h1>
				<br>
				<div class="table-responsive"> 
	        		<table class="table table-hover">
	        			<thead>
	                		<tr>
	                    		<th>ID</th>
	                    		<th>Nombre del item</th>
	                    		<th>Estado</th>
	                    	</tr>
	                    </thead>
	               	 	<tbody>
	                		{% for i in items_sucesores %}
	                			<tr>
	                    			<td>{{ i.id }}</td>
	                    			<td>{{ i.nombre }}</td>
	                    			<td>
	                    			{% ifequal i.estado 0 %}
										En construcción
									{% endifequal %}
									{% ifequal i.estado 1 %}
										Aprobado
									{% endifequal %}
									{% ifequal i.estado 2 %}
										Bloqueado
									{% endifequal %}
									{% ifequal i.estado 3 %}
										En revisión
									{% endifequal %}
									{% ifequal i.estado 4 %}
										Eliminado
									{% endifequal %}
	                    			</td>
	                    			<td><a class="btn btn-default" href="/desarrollo/fases/items/confirmacion_agregar_relacion/{{ i.id }}/item/{{ item.id }}/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-plus"></span> Agregar</a></td>
	                			</tr>
	                		{% endfor %}
	                	</tbody>
	        		</table>
	    		</div>
	    	{% elif estado_valido == False or num_fases_valido == False %}
	    		<br>
	    		<div class="panel panel-warning">
      				<div class="panel-heading">
        				<h3 class="panel-title">¡Alto ahí!</h3>
      				</div>
      				<div class="panel-body">
        				No se pueden agregar sucesores al item <i>{{ item.nombre }}</i>, puesto que, no cumple con las siguientes condiciones:
        				<br><br>
        				<ul>
        					{% if estado_valido == False %}
        						<li>El item <i>{{ item.nombre }}</i> debe encontrarse en estado <b>Bloqueado</b>.</li>
        					{% endif %}
        					{% if num_fases_valido == False %}
        						<li>Debe existir una fase cuyo número de secuencia sea mayor al número de secuencia de la fase <i>{{ fase.nombre }}</i>.</li>
        					{% endif %}
        				</ul>
      				</div>
      			</div>
	    	{% else %}
	    		<br>
	    		<div class="panel panel-warning">
      				<div class="panel-heading">
        				<h3 class="panel-title">¡Alto ahí!</h3>
      				</div>
      				<div class="panel-body">
        				No se han encontrado items habilitados de acuerdo a esta selección.
      				</div>
      			</div>
	    	{% endif %}
	    {% else %}
	    	<div class="panel panel-warning">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Alto ahí!</h3>
      			</div>
      			<div class="panel-body">
        			El item <i>{{ item.nombre }}</i> no se encuentra en estado <b>Aprobado</b> o <b>Bloqueado</b>. Por tanto, no se pueden agregar relaciones.
      			</div>
      		</div>
	    {% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="/desarrollo/fases/items/relaciones/item/{{ item.id }}/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de relaciones del item {{ item.nombre }}</a>
</div>
{% endblock %}