{% extends "base.html" %}
{% block title %}SAP - Aprobación de item{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		{% if valido %}
			<div class="panel panel-success">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Éxito!</h3>
      			</div>
      			<div class="panel-body">
        			El item <i>{{ item.nombre }}</i> fue correctamente <b>aprobado</b>.
      			</div>
      		</div>
		{% else %}
			<div class="panel panel-warning">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Alto ahí!</h3>
      			</div>
      			<div class="panel-body">
        			El item <i>{{ item.nombre }}</i> no pudo ser aprobado. El item no se encuentra en estado <b>En Construcción</b> ni <b>En Revisión</b>.
      			</div>
      		</div>
		{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="/desarrollo/fases/items/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de items de la fase {{ fase.nombre }}</a>
</div>
{% endblock %}