{% extends "base.html" %}
{% block title %}SAP - Items eliminados{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Items eliminados de la fase <i>{{ fase.nombre }}</i></small></h1>
		{% if items_eliminados %}
			<br>
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre del item</th>
                    		<th>Versión</th>
                    		<th>Fecha de la versión</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for i in items_eliminados %}
                			<tr>
                    			<td>{{ i.id_item }}</td>
                    			<td>{{ i.nombre }}</td>
                    			<td>{{ i.version }}</td>
                    			<td>{{ i.fecha_version|date:'d-m-Y H:i' }}</td>
                    			<td><a class="btn btn-default" href="/desarrollo/fases/items/confirmacion_revivir_item/{{ i.id_item }}/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-flash"></span> Revivir</a></td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No existen items eliminados a revivir en esta fase.</h3>
    	{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="/desarrollo/fases/items/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de items de la fase {{ fase.nombre }}</a>
</div>
{% endblock %}