{% extends "base.html" %}
{% block title %}SAP - Quitar relación{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		{% if estado_valido and item_valido or existe_solicitud %}
			<div class="panel panel-success">
	      		<div class="panel-heading">
	        		<h3 class="panel-title">¡Éxito!</h3>
	      		</div>
	      		<div class="panel-body">
	        		La relación entre el item padre/antecesor <i>{{ item.nombre }}</i> y el item hijo/sucesor <i>{{ relacion.nombre }}</i> fue correctamente eliminada.
	      		</div>
	      	</div>
      	{% else %}
      		<div class="panel panel-warning">
	      		<div class="panel-heading">
	        		<h3 class="panel-title">¡Alto ahí!</h3>
	      		</div>
	      		<div class="panel-body">
	        		No se pueden quitar relaciones del item {% if eleccion == "0" or eleccion == "1" %}<i>{{ item.nombre }}</i>{% else %}<i>{{ relacion.nombre }}</i>{% endif %} porque:
	        		<br><br>
	        		<ul>
	        			{% if item_valido == False %}
	        				<li>El item {% if eleccion == "0" or eleccion == "1" %}<i>{{ item.nombre }}</i>{% else %}<i>{{ relacion.nombre }}</i>{% endif %} se encuentra en estado <b>Aprobado</b> o <b>Bloqueado</b>.</li>
	        			{% endif %}
	        			{% if estado_valido == False %}
	        				<li>La fase <i>{{ fase.nombre }}</i> se encuentra en estado <b>Finalizado</b>.</li>
	        			{% endif %}
	        		</ul>
	      		</div>
	      	</div>
      	{% endif %}
	</div>
	<br>
	{% if eleccion == "0" or eleccion == "1" %}
		<a class="btn btn-default" href="/desarrollo/fases/items/relaciones/item/{{ item.id }}/fase/{{ item.fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de relaciones del item {{ item.nombre }}</a>
	{% else %}
		<a class="btn btn-default" href="/desarrollo/fases/items/relaciones/item/{{ relacion.id }}/fase/{{ relacion.fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de relaciones del item {{ relacion.nombre }}</a>
	{% endif %}
</div>
{% endblock %}