{% extends "base.html" %}
{% block title %}SAP - Validación del item {{ item.nombre }}{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		{% if item_valido %}
			<div class="panel panel-success">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Éxito!</h3>
      			</div>
      			<div class="panel-body">
        			El item <i>{{ item.nombre }}</i> fue correctamente <b>validado</b>.
      			</div>
      		</div>
		{% else %}
			<div class="panel panel-warning">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Alto ahí!</h3>
      			</div>
      			<div class="panel-body">
        			El item <i>{{ item.nombre }}</i> no puede ser validado porque:
        			<br><br>
        			<ul>
        				{% if item_valido == False %}
        					<li>El item <i>{{ item.nombre }}</i> se encuentra en un estado distinto a <b>En revisión</b>.</li>
        				{% endif %}
        			</ul>
      			</div>
      		</div>
		{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="/desarrollo/fases/items/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de items de la fase {{ fase.nombre }}</a>
</div>
{% endblock %}