{% extends "base.html" %}
{% block title %}SAP - Agregar roles{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		{% if estado_valido %}
			<h1><small>Roles del proyecto <i>{{ proyecto.nombre }}</i></small></h1>
			{% if roles %}
				<div class="table-responsive"> 
        			<table class="table table-hover">
        				<thead>
                			<tr>
                    			<th>ID</th>
                    			<th>Nombre de rol</th>
                    			<th></th>
                    		</tr>
                    	</thead>
                		<tbody>
                			{% for r in roles %}
                				<tr>
                    				<td>{{ r.id }}</td>
                    				<td>{{ r.nombre }}</td>
                    				<td><a class="btn btn-default" href="/desarrollo/fases/confirmacion_agregar_rol/{{ r.id }}/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-plus"></span> Agregar</a></td>
                				</tr>
                			{% endfor %}
                		</tbody>
        			</table>
    			</div>
    		{% else %}
    			<h3>El proyecto <i>{{ proyecto.nombre }}</i> no posee roles.</h3>
    		{% endif %}
    	{% else %}
    		<div class="panel panel-warning">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Alto ahí!</h3>
      			</div>
      			<div class="panel-body">
        			No se pueden agregar más roles a la fase <i>{{ fase.nombre }}</i>, puesto que, esta fase se encuentra en estado <b>En curso</b> o <b>Finalizado</b>.
      			</div>
      		</div>
    	{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="/desarrollo/fases/roles/fase/{{ fase.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de roles de la fase {{ fase.nombre }}</a>
</div>
{% endblock %}