{% extends "base.html" %}
{% block title %}SAP - Costo total del proyecto {{ proyecto.nombre }}{% endblock %}
{% block content %}
<div class="jumbotron">
	<h1><small>Costo total</small></h1>
	{% if fases_valido %}
		{% if items_valido %}
			<h3>El costo total del proyecto {{ proyecto.nombre }} es: {{ costo_total }}</h3>
		{% else %}
			<div class="panel panel-warning">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Alto ahí!</h3>
      			</div>
      			<div class="panel-body">
        			El proyecto {{ proyecto.nombre }} no posee items en sus fases. Por lo tanto, no se puede calcular su costo total.
      			</div>
      		</div>
      	{% endif %}
    {% else %}
    	<div class="panel panel-warning">
      		<div class="panel-heading">
        		<h3 class="panel-title">¡Alto ahí!</h3>
      		</div>
      		<div class="panel-body">
        		El proyecto {{ proyecto.nombre }} no posee ninguna fase. Por lo tanto, no se puede calcular su costo total.
      		</div>
      	</div>
    {% endif %}

	<br>
	<a class="btn btn-default" href="{% url 'vista_desarrollo' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver al módulo de desarrollo</a>
</div>
{% endblock %}