{% extends "base.html" %}
{% block title %}SAP - Desarrollo{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Proyectos en curso</small></h1>
		{% if proyectos %}
			<br>
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre de proyecto</th>   
                    		<th>Estado</th>
                    		<th>Líder</th>
                    		<th>Fecha de inicio</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for p in proyectos %}
                			<tr>
                    			<td>{{ p.id }}</td>
                    			<td>{{ p.nombre }}</td>
                    			<td>
                    			{% ifequal p.estado 0 %}
									Inactivo
								{% endifequal %}
								{% ifequal p.estado 1 %}
									En curso
								{% endifequal %}
								{% ifequal p.estado 2 %}
									Finalizado
								{% endifequal %}
                    			</td>
                    			<td>{{ p.usuario_lider.username }}</td>
                    			<td>{{ p.fecha_inicio }}</td>
                    			<td>
                    			{% if calcular_costo or gestionar_fases or gestionar_solicitudes_proyecto or gestionar_solicitudes_usuario or finalizar_proyecto %}
                    			<div class="btn-group">
      								<a class="btn btn-default" data-toggle="dropdown" href="#"><font color="BLACK">Opciones</font> <span class="glyphicon glyphicon-align-justify black"></span></a>
      								<ul class="dropdown-menu">
        								{% if gestionar_fases %}
        									<li><a href="{% url 'vista_desarrollo_fases_proyecto' id_proyecto=p.id %}"><span class="glyphicon glyphicon-cog"></span> Fases</a></li>
        								{% endif %}
        								{% if calcular_costo %}
        									<li><a href="{% url 'vista_calcular_costo' id_proyecto=p.id %}"><span class="glyphicon glyphicon-usd"></span> Costo total</a></li>
      									{% endif %}
      									{% if gestionar_solicitudes_proyecto %}
      										<li><a href="{% url 'vista_solicitudes_proyecto' id_proyecto=p.id %}"><span class="glyphicon glyphicon-envelope"></span> Solicitudes del proyecto</a></li>
      									{% endif %}
      									{% if gestionar_solicitudes_usuario %}
      										<li><a href="/desarrollo/solicitudes/usuario/{{ user.id }}/proyecto/{{ p.id }}/"><span class="glyphicon glyphicon-envelope"></span> Solicitudes del usuario</a></li>
      									{% endif %}
      									{% if finalizar_proyecto %}
        									<li><a href="/desarrollo/finalizar_proyecto/{{ p.id }}/"><span class="glyphicon glyphicon-stop"></span> Finalizar</a></li>
      									{% endif %}
      									    <li><a href="{% url 'vista_reporte_proyecto' id_proyecto=p.id %}"><span class="glyphicon glyphicon-file"></span> Reporte Proyecto </a></li>
      								</ul>
    							</div>
    							{% endif %}
                    			</td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No existen proyectos en curso.</h3>
    	{% endif %}
    	{% if finalizados %}
    		<h1><small>Proyectos finalizados</small></h1>
			<br>
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre de proyecto</th>   
                    		<th>Líder</th>
                    		<th>Fecha de inicio</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for pf in finalizados %}
                			<tr>
                    			<td>{{ pf.id }}</td>
                    			<td>{{ pf.nombre }}</td>
                    			<td>{{ pf.usuario_lider.username }}</td>
                    			<td>{{ pf.fecha_inicio }}</td>
                 			<tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% endif%}
	</div>
</div>
{% endblock %}