{% extends "base.html" %}
{% block title %}SAP - Fases del proyecto {{ proyecto.nombre }}{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Fases del proyecto {{ proyecto.nombre }}</small></h1>
		{% if crear_fase %}
		<a class="btn btn-default" href="/desarrollo/fases/crear_fase/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-record"></span> Crear</a>
		<br>
		{% endif %}
		<br>
		{% if fases %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>Secuencia</th>
                    		<th>Nombre de fase</th>
                    		<th>Estado</th>
                    		<th>Fecha de inicio</th>
                    		<th></th>
                    		<th></th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for f in fases %}
                			<tr>
                    			<td>{{ f.num_secuencia }}</td>
                    			<td>{{ f.nombre }}</td>
                    			<td>
                    			{% ifequal f.estado 0 %}
									Inactivo
								{% endifequal %}
								{% ifequal f.estado 1 %}
									En curso
								{% endifequal %}
								{% ifequal f.estado 2 %}
									Finalizado
								{% endifequal %}
                    			</td>
                    			<td>{{ f.fecha_inicio }}</td>
                    			<td>
                    			{% if modificar_fase or eliminar_fase or visualizar_fase or gestionar_roles or gestionar_tipos_item or iniciar_fase or finalizar_fase or gestionar_items or gestionar_lineas_base %}
                    			<div class="btn-group">
      								<a class="btn btn-default" data-toggle="dropdown" href="#"><font color="BLACK">Opciones</font> <span class="glyphicon glyphicon-align-justify black"></span></a>
      								<ul class="dropdown-menu">
      									{% if modificar_fase %}
        								<li><a href="/desarrollo/fases/modificar_fase/fase/{{ f.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-edit"></span> Modificar</a></li>
        								{% endif %}
        								{% if eliminar_fase %}
        								<li><a href="/desarrollo/fases/eliminar_fase/fase/{{ f.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></li>
        								{% endif %}
        								{% if visualizar_fase %}
        								<li><a href="/desarrollo/fases/fase/{{ f.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-search"></span> Visualizar</a></li>
        								{% endif %}
        								{% if gestionar_roles or gestionar_tipos_item or gestionar_items %}
        								<li class="divider"></li>
        								{% endif %}
        								{% if gestionar_roles %}
        								<li><a href="/desarrollo/fases/roles/fase/{{ f.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-cog"></span> Roles</a></li>
      									{% endif %}
      									{% if gestionar_tipos_item %}
        								<li><a href="/desarrollo/fases/tipos_item/fase/{{ f.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-cog"></span> Tipos de item</a></li>
        								{% endif %}
      									{% if gestionar_items %}
        								<li><a href="/desarrollo/fases/items/fase/{{ f.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-cog"></span> Items</a></li>
        								{% endif %}
        								{% if gestionar_lineas_base %}
        								<li><a href="/desarrollo/fases/lineas_base/fase/{{ f.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-cog"></span> Lineas base</a></li>
        								{% endif %}
        								{% if iniciar_fase or finalizar_fase %}
        								<li class="divider"></li>
        								{% endif %}
        								{% if iniciar_fase %}
        								<li><a href="/desarrollo/fases/iniciar_fase/{{ f.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-play"></span> Iniciar</a></li>
        								{% endif %}
        								{% if finalizar_fase %}
        								<li><a href="/desarrollo/fases/finalizar_fase/{{ f.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-stop"></span> Finalizar</a></li>
      									{% endif %}
      								</ul>
    							</div>
    							{% endif %}
                    			</td>
                    			<td>
                    				<a class="btn btn-default" href="/desarrollo/fases/subir_fase/{{ f.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-arrow-up black"></span> Subir</a>
                    			</td>
                    			<td>
                    				<a class="btn btn-default" href="/desarrollo/fases/bajar_fase/{{ f.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-arrow-down black"></span> Bajar</a>
                    			</td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No posee fases.</h3>
    	{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="{% url 'vista_desarrollo' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver al módulo de desarrollo</a>
</div>
{% endblock %}