{% extends "base.html" %}
{% block title %}SAP - Version {{ version.version }} del item {{ item.nombre }}{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Detalles de la versión <i>{{ version.version }}</i> del item <i>{{ item.nombre }}</i></small></h1>
		
		<div class="input-group">
			<span class="input-group-addon"><b>Nombre</b></span>
			<input type="text" class="form-control" id="nombre" name="nombre" value="{{ version.nombre }}" disabled="disabled">
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>Estado</b></span>
			{% ifequal version.estado 0 %}
				<input type="text" class="form-control" id="estado" name="estado" value="En construcción" disabled="disabled">
			{% endifequal %}
			{% ifequal version.estado 1 %}
				<input type="text" class="form-control" id="estado" name="estado" value="Aprobado" disabled="disabled">
			{% endifequal %}
			{% ifequal version.estado 2 %}
				<input type="text" class="form-control" id="estado" name="estado" value="Bloqueado" disabled="disabled">
			{% endifequal %}
			{% ifequal version.estado 3 %}
				<input type="text" class="form-control" id="estado" name="estado" value="En revisión" disabled="disabled">
			{% endifequal %}
		</div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>Descripción</b></span>
			<textarea rows="3" class="form-control" id="descripcion" name="descripcion" disabled="disabled">{{ version.descripcion }}</textarea>
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>Complejidad</b></span>
			<input type="text" class="form-control" id="complejidad" name="complejidad" value="{{ version.complejidad }}" disabled="disabled">
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>Costo monetario</b></span>
			<input type="text" class="form-control" id="costo_monetario" name="costo_monetario" value="{{ version.costo_monetario|stringformat:".3f" }}" disabled="disabled">
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>Costo temporal</b></span>
			<input type="text" class="form-control" id="costo_temporal" name="costo_temporal" value="{{ version.costo_temporal|stringformat:".3f" }}" disabled="disabled">
        </div>
		<br>
		<div class="input-group">
			<span class="input-group-addon"><b>Fase</b></span>
			<input type="text" class="form-control" id="fase" name="fase" value="{{ version.fase.nombre }}" disabled="disabled">
        </div>
        <br>
        <div class="input-group">
			<span class="input-group-addon"><b>Línea base</b></span>
			<input type="text" class="form-control" id="linea_base" name="linea_base" value="{{ version.linea_base.nombre }}" disabled="disabled">
        </div>
        <br>
        {% if padre %}
        	<div class="input-group">
				<span class="input-group-addon"><b>Padre</b></span>
				<input type="text" class="form-control" id="padre" name="padre" value="{{ padre.nombre }}" disabled="disabled">
	        </div>
	        <br>
        {% endif %}
        
		<a class="btn btn-default" href="/desarrollo/solicitudes/{{ solicitud.id }}/historial_item/{{ item.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver al historial del item {{ item.nombre }}</a>
	</div>
</div>
{% endblock %}