{% extends "base.html" %}
{% block title %}SAP - Solicitud del usuario {{ solicitud.usuario.username }}{% endblock %}
{% block content %}
<div class="jumbotron">
	<h1><small>Solicitud del usuario <i>{{ solicitud.usuario.username }}</i></small></h1>
	
	<div class="input-group">
		<span class="input-group-addon"><b>Solicitante</b></span>
		<input type="text" class="form-control" id="solicitante" name="solicitante" value="{{ solicitud.usuario.username }}" disabled="disabled">
   	</div>
    <br>
    <div class="input-group">
		<span class="input-group-addon"><b>Fecha y hora de emisión</b></span>
		<input type="text" class="form-control" id="fecha_emision" name="fecha_emision" value="{{ solicitud.fecha_emision|date:'d-m-Y H:i' }}" disabled="disabled">
   	</div>
    <br>
	<div class="input-group">
		<span class="input-group-addon"><b>Proyecto</b></span>
		<input type="text" class="form-control" id="proyecto" name="proyecto" value="{{ solicitud.proyecto.nombre }}" disabled="disabled">
   	</div>
    <br>
    <div class="input-group">
		<span class="input-group-addon"><b>Fase</b></span>
		<input type="text" class="form-control" id="fase" name="fase" value="{{ solicitud.fase.nombre }}" disabled="disabled">
    </div>
    <br>
    <div class="input-group">
		<span class="input-group-addon"><b>Línea base</b></span>
		<input type="text" class="form-control" id="linea_base" name="linea_base" value="{{ solicitud.linea_base.nombre }}" disabled="disabled">
    </div>
    <br>
    <div class="input-group">
		<span class="input-group-addon"><b>Item</b></span>
		<input type="text" class="form-control" id="item" name="item" value="{{ solicitud.item.nombre }}" disabled="disabled">
    </div>
    
    <br>
    <div class="input-group">
		<span class="input-group-addon"><b>Costo monetario</b></span>
		<input type="text" class="form-control" id="costo_monetario" name="costo_monetario" value="{{ costo_monetario }}" disabled="disabled">
    </div>
    <br>
    <div class="input-group">
		<span class="input-group-addon"><b>Costo temporal</b></span>
		<input type="text" class="form-control" id="costo_temporal" name="costo_temporal" value="{{ costo_temporal }}" disabled="disabled">
    </div>
    
    <h2 align="center"><small>Grafo de relaciones del item <i>{{ solicitud.item.nombre }}</i></small></h2>
    <div align="center">
		<img src="{{ ruta_grafo }}" alt="Grafo de relaciones del item {{ solicitud.item.nombre }}" class="img-thumbnail">
	</div>
    
    <br><br>
	<div class="input-group">
		<span class="input-group-addon"><b>Acción</b></span>
		<input type="text" class="form-control" id="accion" name="accion" value="{{ solicitud.accion }}" disabled="disabled">
    </div>
    <br>
    <div class="input-group">
		<span class="input-group-addon"><b>Descripción</b></span>
		<textarea rows="3" class="form-control" id="descripcion" name="descripcion" disabled="disabled">{{ solicitud.descripcion }}</textarea>
    </div>
    <br>
    <div class="input-group">
		<span class="input-group-addon"><b>Aprobada</b></span>
		{% if solicitud.aprobada == False %}
			<input type="text" class="form-control" id="aprobada" name="aprobada" value="No" disabled="disabled">
		{% elif solicitud.aprobada == True %}
			<input type="text" class="form-control" id="aprobada" name="aprobada" value="Si" disabled="disabled">
		{% else %}
			<input type="text" class="form-control" id="aprobada" name="aprobada" value="En tramite" disabled="disabled">
		{% endif %}
    </div>
	<br>
	<a class="btn btn-default" href="/desarrollo/solicitudes/usuario/{{ user.id }}/proyecto/{{ proyecto.id }}/"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de solicitudes del usuario {{ user.username }}</a>
</div>
{% endblock %}